@import "../../styles/variables";

.login-page {
  max-width: 500px;
  margin-top: 80px;

  .btn-group {
    .btn {
      border-radius: 0;
    }
  }

  .auth-toggle {
    background: transparent;
    border: 1px solid $nav-success;
    color: $text-main;
    font-weight: 600;

    &:hover {
      background: rgba(6, 64, 47, 0.2);
      color: $text-main;
    }

    &.active {
      background: $nav-success;
      color: $text-main;
      border: 1px solid $nav-success;
    }
  }

  form {
    background: rgba(255, 255, 255, 0.02);
    padding: 2rem;
    border-radius: 10px;
  }
}
