@import "../../styles/variables";

.venues-page {
  padding-top: 2rem;
}

.venues-title {
  font-family: $font-h1;
  color: $header-icons;
  margin-bottom: 2rem;
}

.venues-search {
  margin-bottom: 2rem;
}
