// Colors
$background: #0f0e0a;
$text-main: #b9c1c3;
$header-icons: #f2b8a2;
$nav-success: #06402f;
$error: #d58985;

// Fonts
$font-h1: "Sonsie One", cursive;
$font-headings: "Fira Sans", sans-serif;
$font-body: "Hind Guntur", sans-serif;
