@import "variables";

#root {
  background-color: $background;
  min-height: 100vh;
}

body {
  background-color: $background;
  color: $text-main;
  font-family: $font-body;
}

h1 {
  font-family: $font-h1;
}

h2,
h3,
h4,
h5 {
  font-family: $font-headings;
}

@import "~bootstrap/scss/bootstrap.scss";
